.Header{
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-areas: 
        "rightHeader"
        "middleHeader"
    ;
}

.rightHeader {
    display: none;
    grid-area: rightHeader;
}

.middleHeader{
    grid-area: middleHeader;
}

@media screen and (min-width:960px){
    .Header{
        width: 100%;
    }
    
}