.carouselA {
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.carousel-slideA {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  animation: slider 20s infinite; /* Définit la durée et l'itération de l'animation */
}

.carousel-slideA img {
  width: 100%;
  height: 400px;
  margin: 5px 0;
  object-fit: cover;
  box-sizing: border-box;
}

@keyframes slider {
  0% {
    transform: translateY(0); /* Débute à la position initiale */
  }
  25% {
    transform: translateY(-100%); /* Défile vers la gauche */
  }
  50% {
    transform: translateY(-200%); /* Défile vers la gauche */
  }
  75%{
      transform: translateY(-300%);
  }
  100% {
    transform: translateY(0); /* Revient à la position initiale */
  }
}

