.Menu {
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    padding: 10px 20px 10px 10px;
    color: #0d0d82;
    background-color:  rgba(235,235,255,0.9);
}

.leftmenu {
    position: absolute;
    top: 50px;
    background-color: rgba(235,235,255,0.9);
    width: 50%;
    left: -120%;
    transition: left 1s;
    text-align: center;
}

.leftmenu p {
    background-color: rgba(0,35,95,0.9);
    color: #FFFAFA;
    padding: 5px 0;
    font-size: 12px;
    font-weight: bold;
}

.leftmenu p:hover {
    background-color: rgba(0,35,155,0.9);
    font-size: 14px;
}

.Categorie{
    font-weight: bolder;
}

#menu:checked~.leftmenu {
    left: 0;
}

#menu, #panier {
    visibility: hidden;
}


.bigmenu {
    display: flex;
    flex-direction: column;
    position: relative;
}

.cart {
    position: absolute;
    top: 0;
    background-color: rgba(235,235,255,0.9);
    left: 100%;
    width: 0;
    transition: .5s ease;
    overflow: auto;
    height: 100vh; 
    margin-bottom: 10px;
}

#panier:checked~.cart{
    width: 100%;
    left: 0;
}

.barre {
    height: 10px;
    /*background-color: rgba(0,35,95,0.9);*/
    background-color: #0d0d82;
}

.panier {
    position: relative;
}

.mnumn{
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: #FF8C00;
    text-align: center;
    border-radius: 100%;
    padding-bottom: 2px;
    color: #FFFAFA;
    position: absolute;
    top:2px;
    right: 12px;
    font-weight: bold;
}

.name {
    font-size: 18px;
    font-weight: bolder;
    
}
.nameLink {
    text-decoration: none;
}

.grdEcran{
    display: none;
}

.hpanier {
    display: flex;
    justify-content: space-between;
    text-align: center;
    background-color: white;
    margin: 0 0 10px;
}
.faTime {
    width: 20px;
    height: 20px;
    background-color: rgba(235,235,255,0.9);
    border-radius: 100%;
    margin: 10px 0 0 5px;
    padding: 5px;
}

.faImage {
    width: 40px;
    height: 40px;
}

.hpNom {
    text-transform: uppercase;
}

.Recu {
    background-color: blue;
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    color: white;
}



@media screen and (min-width:960px){
    .bigmenu {
        display: none;
    }
    
    .grdEcran {
        display: block;
        text-align: center;
        padding: 5px 0 10px 0;
        margin-top: 10px;
        margin-left: 10px;
        color: white;
    }
    .grdEcran p {
        margin: 5px 0 0 0;
        background-color: #FF8C00;
        padding: 10px;
        border-radius: 5px;
    }
    
    .grdEcran p:hover {
        cursor: pointer;
        font-weight: 900;
        animation: animeMenu;
        animation-duration: 0.5s;
        animation-iteration-count: 1;
        animation-timing-function: ease-in;

    }
    
    @keyframes animeMenu {
        0%{
            /*width:inherit;*/
            transform: translateX(0);
        }
        50%{
            /*width: 100%;*/
            transform: translateX(5px);
        }
        100%{
            transform: translateX(0);
        }
        
    }
}

