.card {
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px rgba(235,235,255,0.9);
}
.cardImage{
    width: 150px;
}

.card img {
    width: 100%;
}

.card p {
    font-size: 12px;
}

.card p span{
    font-size: 16px;
    font-weight: bolder;
    color: rgba(0,35,95,0.9);
}

.Add {
    display: inline-block;
    width: 130px;
    height: 8px;
    font-size: 10px;
    background-color: #FF8C00;
    color: #FFFAFA;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 0.5px 0 #ab4b0f;
    text-align: center;
}

.Add:active {
    box-shadow: none;
    position: relative;
    top: 0.5px;
}

.prix {
    color: #0d0d82;
    font-weight: 1000;
    font-size:20px;
}

.livraison {
    background-color: #FF0000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    width: 165px;
    height: 20px;
    color: white;
    top: 0;
    left: 0;
}

@media screen and (min-width:960px){
    .card img {
        margin-top: 20px;
        width: 100%;
    }
    .card{
        position: relative;
    }
    
    .livraison {
        position: absolute;
        top: 0;
        left: 0;
        border-top-right-radius: 0;
    }
}