.carousel {
  width: auto;
  height: auto;
  overflow: hidden;
}

.carousel-slide {
  display: flex;
  width: 100%;
  height: 100%;
  animation: slide 10s infinite; /* Définit la durée et l'itération de l'animation */
}

.carousel-slide img {
  width: 100%;
  height: 100%;
  margin: 0 5px;
  object-fit: cover;
  box-sizing: border-box;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-100%);
  }
  
  
  50% {
    transform: translateX(-200%); 
  }
  75% {
    transform: translateX(-300%); 
  }

  100% {
    transform: translateX(0); 
  }
}

@keyframes slideGb {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-65%);
  }
  
  
  50% {
    transform: translateX(-130%); 
  }
  75% {
    transform: translateX(-160%); 
  }

  100% {
    transform: translateX(0); 
  }
}

@media screen and (min-width:960px){
    .carousel {
      width: 100%;
      height: 400px;
    }
    
    .carousel-slide img {
      width: 100%;
    }
    
    .carousel-slide {
      width: 100%;
      animation: slideGb 10s infinite; 
    }
    
} 