.App{
    width: 100%;
    height: 100vh;
    overflow: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "anime"
        "nav"
        "header"
        "section"
        "footer"
    ;
    grid-gap: 10px;
    background-color: rgba(235,235,255,0.9);
}


.Anime{
    grid-area: anime;
}

nav {
    position: sticky;
    top: 0;
    background-color: rgba(235,235,255,0.9);
    grid-area: nav;
    z-index: 1;
}

header {
    background-color: rgba(235,235,255,0.9);
    grid-area: header;
}

section {
    background-color: rgba(235,235,255,0.9);
    grid-area: section;
}

footer {
    grid-area: footer;
    z-index: 2;
}

@media screen and (min-width:960px){
    .App{
        grid-template-columns: 50px 1000px;
        grid-template-areas:
            "anime anime"
            "header header"
            "nav section"
            "footer footer"
        ;
    }
    .search {
        display: none;
    }

}